<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- <add key="TcBase" value="https://azdevops01.beckhoff.com/GSW01/_packaging/TcBase/nuget/v3/index.json" /> -->
  </packageSources>
  <!-- <packageSourceCredentials>
    <TcBase>
      <add key="Username" value="DevOpsBuild@beckhoff.com" />
      <add key="ClearTextPassword" value="%AZDEVOPS_ACCESS_TOKEN%" />
      <add key="ValidAuthenticationTypes" value="basic" />
    </TcBase>
  </packageSourceCredentials> -->
  <!-- <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources> -->
</configuration>
