<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup>
  <system.diagnostics>
    <assert assertuienabled="true" />
    <trace autoflush="true" indentsize="3" />
    <switches>
      <add name="AdsSwitch" value="All" />
      <add name="AmsSwitch" value="All" />
    </switches>
    <sources>
      <source name="Ads" switchName="AdsSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!--<add name="AdsListener" type="System.Diagnostics.DelimitedListTraceListener" initializeData="C:\TwinCAT\AmsServer.log" traceOutputOptions="DateTime,ThreadId,ProcessId" delimiter="," />-->
          <add name="adsAmsListener" />
          <add name="globalErrorListener" />
        </listeners>
      </source>
      <source name="Ams" switchName="AmsSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!--<add name="AdsListener" type="System.Diagnostics.DelimitedListTraceListener" initializeData="C:\TwinCAT\AdsServer.log" traceOutputOptions="DateTime,ThreadId,ProcessId" delimiter="," />-->
          <add name="adsAmsListener" />
          <add name="globalErrorListener" />
        </listeners>
      </source>      
    </sources>
    <sharedListeners>
      <add name="adsAmsListener" type="System.Diagnostics.DelimitedListTraceListener" traceOutputOptions="DateTime,ThreadId,ProcessId" initializeData="C:\TwinCAT\AdsAms.log">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
      <add name="globalErrorListener" type="System.Diagnostics.DelimitedListTraceListener" traceOutputOptions="DateTime,ThreadId,ProcessId" initializeData="C:\TwinCAT\AmsAdsError.log">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" />
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>
